:root{
    --ui-color: rgb(245, 211, 118);
    --contrast-color: rgb(76, 66, 208);
    --animation-duration: 1.5s;
}

body{
    margin: 0;
    padding: 0;
}

#root{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}